*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: linear-gradient(to right, #8C52FF, #0A1A44);
    color: white;
    font-family: 'codecpro';
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#logo{
    width: 100px;
    padding-left: 77px;
    padding-top: 8px;
}

ul{
    padding-right: 20px;
}

li{
    display: inline-block;
    margin: 20px;

}

a{
    color: white;

}

a:hover{
    transition: 0.3s all;
}

#freelancer-login{
    background-color: #8C52FF;
    padding: 8px;
    border-radius: 15px;
}

#freelancer-login:hover{
    background-color: #0A1A44;
    color: white;
    transition: 0.4s;
}

#freelancer-login:active {
    transform: scale(0.97);
}

#cliente-login{
    background-color: #8C52FF;
    padding: 8px;
    border-radius: 15px;
}

#cliente-login:hover{
    background-color: #0A1A44;
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    
}

.chamada{
    padding-left: 77px;
    font-size: 50px;
    line-height: 50px;
    font-family: 'codecproextrabold';
}

p{
    padding-left: 77px;
    margin-top: 30px;
    max-width: 500px;
}

#personagem{
    width: 340px;
    padding-right: 77px;
}

/*
#btn-saiba-mais{
    font-family: 'codecpro';
    font-weight: bold;
    font-size: 16px;
    width: 50%;
    margin-top: 30px;
    margin-left: 77px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #57E4FF;
    color: white;
}

#btn-saiba-mais:hover{
    opacity: 0.8;
}
*/

#btn-saiba-mais{
    margin-left: 77px;
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 50px;
    background: #57e4ff;
    color: white;
    border: none;
    font-family: 'codecpro';
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
   }
   
   #btn-saiba-mais:hover {
    box-shadow: 7px 5px 56px -14px #57e4ff;
   }
   
   #btn-saiba-mais:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #57e4ff;
   }
