* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: "white";
  color: white;
  font-family: "codecpro";
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto;
}

#increase-font {
  color: #000000;
  cursor: pointer;
  margin-left: 10px;
}

.increase-font:hover {
  cursor: pointer;
}

header {
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

#logo{
  width: 105px;
}

ul {
  display: flex;
}

header ul li {
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  transition: 0.3s all;
}

#freelancer-login {
  background-color: #8c52ff;
  padding: 8px;
  border-radius: 15px;
}

#freelancer-login:hover {
  background-color: #0a1a44;
  color: white;
  transition: 0.4s;
}

#freelancer-login:active {
  transform: scale(0.97);
}

#cliente-login {
  background-color: #8c52ff;
  padding: 8px;
  border-radius: 15px;
}

#cliente-login:hover {
  background-color: #0a1a44;
  color: white;
}

main {
  justify-content: space-between;
  background-color: "white";
}

#primeiro {
  align-items: center;
  background-image: linear-gradient(to right, #8c52ff, #0a1a44);
  display: flex;
  flex-direction: row;
  height: 650px;
  justify-content: space-around;
  width: 100%;
}

.chamada {
  font-family: "codecproextrabold";
  font-size: 50px;
  line-height: 50px;
  padding-left: 77px;
}

#primeiro p {
  font-size: 17px;
  margin-top: 30px;
  max-width: 500px;
  padding-left: 77px;
}

h6 {
  max-width: 500px;
  padding-left: 77px;
}

#personagem {
  padding-right: 77px;
  width: 340px;
}

/*
#btn-saiba-mais{
    font-family: 'codecpro';
    font-weight: bold;
    font-size: 16px;
    width: 50%;
    margin-top: 30px;
    margin-left: 77px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #57E4FF;
    color: white;
}

#btn-saiba-mais:hover{
    opacity: 0.8;
}
*/

#btn-saiba-mais {
  background: #57e4ff;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "codecpro";
  font-size: 18px;
  font-weight: bold;
  margin-left: 77px;
  margin-top: 30px;
  padding-bottom: 16px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 16px;
  text-align: center;
  transition: 0.4s;
}

#btn-saiba-mais:hover {
  box-shadow: 7px 5px 56px -14px #57e4ff;
}

#btn-saiba-mais:active {
  box-shadow: 7px 5px 56px -10px #57e4ff;
  transform: scale(0.97);
}

.titulo2 {
  color: #8c52ff;
  font-family: "codecproextrabold";
  font-size: 45px;
  text-align: center;
  margin: 10px;
}

#segundo {
  background-color: #ffffff;
}

#segundo p {
  padding-left: 77px;
}

#sup-ger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.ferramenta {
  background-color: #57e4ff;
  border-radius: 100px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 50px;
}

#suporte {
  background-color: #0a1a44;
  border-radius: 30px;
  height: 303px;
  width: 455px;
}

#segundo h6 {
  font-family: "codecproextrabold";
  font-size: 20px;
  padding-left: 77px;
}

#segundo p {
  font-family: "codecpro";
  font-size: 17px;
}

.computador {
  background-color: #57e4ff;
  border-radius: 100px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 60px;
}

#gerenciamento {
  background-color: #0a1a44;
  border-radius: 30px;
  height: 303px;
  text-align: left;
  width: 455px;
}

#consul-trei {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.consultoria {
  background-color: #57e4ff;
  border-radius: 100px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px 22px 10px 10px;
  width: 60px;
}

#consultoria {
  background-color: #0a1a44;
  border-radius: 30px;
  height: 303px;
  text-align: left;
  width: 455px;
}

.treinamento {
  background-color: #57e4ff;
  border-radius: 100px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px 22px 10px 10px;
  width: 60px;
}

#treinamento {
  background-color: #0a1a44;
  border-radius: 30px;
  height: 303px;
  text-align: left;
  width: 455px;
}

#terceiro {
  background-color: #142140;
}

#terceiro p {
  max-width: 800px;
  padding-left: 77px;
}

#freelancer-cad {
  display: flex;
  display: flex;
  flex-direction: row;
  height: 350px;
  justify-content: space-evenly;
}

#freelancer-img {
  margin-top: 20px;
}

#freelancer-txt {
  margin-top: 85px;
}

#freelancer-txt h6 {
  font-family: "codecproextrabold";
  font-size: 25px;
}

#freelancer-txt p {
  font-family: "codecpro";
  font-size: 16px;
}

#btn-cadastro-freelancer,
#btn-cadastro-cliente {
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "codecpro";
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0 0 75px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
}

#btn-cadastro-freelancer:hover,
#btn-cadastro-cliente:hover {
  background-color: #999;
  color: #ffffff;
  transition: 0.2s;
}

#cliente {
  background-color: #120052;
  display: flex;
  flex-direction: row;
  height: 350px;
  justify-content: space-evenly;
}

#cliente-txt {
  margin-top: 85px;
}

#cliente-txt h6 {
  font-family: "codecproextrabold";
  font-size: 25px;
}

#cliente-txt p {
  font-family: "codecpro";
}

#quarto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#cadastre-se {
  align-items: center;
  background-color: #0a1a44;
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: center;
  margin-top: 3px;
  width: 33.33%;
}

#cadastre-se p {
  align-items: center;
  background-color: #8c52ff;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 20px;
  padding: 0 5px 0 5px;
  text-align: center;
  width: 30%;
}

#procure {
  align-items: center;
  background-color: #8c52ff;
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: center;
  margin: 3px;
  width: 33.33%;
}

#procure p {
  align-items: center;
  background-color: #0a1a44;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 20px;
  padding: 0 5px 0 5px;
  text-align: center;
  width: 30%;
}

#negocio {
  align-items: center;
  background-color: #0a1a44;
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: center;
  margin-top: 3px;
  width: 33.33%;
}

#negocio p {
  align-items: center;
  background-color: #8c52ff;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 20px;
  padding: 0 5px 0 5px;
  text-align: center;
  width: 30%;
}

#quinto {
  height: 650px;
}

#quinto p {
  color: #120052;
  font-family: "codecpro";
}

#avaliacoes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

#aval-isabela {
  text-align: justify;
  width: 20%;
}

#aval-lucas {
  text-align: justify;
  width: 20%;
}

#aval-camila {
  text-align: justify;
  width: 20%;
}

.aspas {
  color: #120052;
}

.star {
  color: #fcbf49;
}

#img-teste {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#btn-acessibilidade {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(50%);
}

#aumentar,
#diminuir {
  background-color: #999;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus,
*:active {
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

.wrapper {
  align-items: flex-end;
  display: flex;
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(50%);
}

.wrapper .icon {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 50px;
  justify-content: center;
  margin-right: 6px;
  margin-top: 10px;
  padding: 15px;
  position: relative;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 50px;
}

.wrapper .tooltip {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 14px;
  opacity: 0;
  padding: 5px 8px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: blue;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */

.wrapper .icon:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  top: -45px;
  visibility: visible;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}


/* .wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover {
  background: blue;
  color: #ffffff;
} */

#aumentar:hover {
  visibility: visible;
}

.wrapper:hover .icon .tooltip {
  opacity: 1;
  pointer-events: auto;
  top: -45px;
  visibility: visible;
}

.wrapper:hover .tooltip,
.wrapper .tooltip:hover #aumentar:hover #diminuir:hover {
  opacity: 1;
  pointer-events: auto;
  top: -45px;
  visibility: visible;
}

.tooltip {
  margin-top: -20px;
}

.fa-universal-access {
  color: #0087B6;
}

.footer {
  background-color: #a1a1a1;
  color: white;
  padding: 75px;
  text-align: center;
  /* height: 500px; */
  justify-content: center;
  align-items: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.site-name {
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.site-name{
  font-weight: 200;
  font-family: 'codecproextrabold';
}

/* Estilos para telas pequenas */
@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
    width: 25.875rem;
  }

  /* CABECALHO */
  header {
    position: relative;
    width: 100%;
  }

  .primeiro {
    margin: 0 auto;
    text-align: center;
    width: 30%;
  }

  #freelancer-login,
  #cliente-login {
    visibility: hidden;
  }

  #logo {
    left: 40%;
    margin-top: -7%;
    position: absolute;
  }

  /* PRIMEIRA PARTE */
  .chamada,
  .paragrafo {
    margin-left: 16.25rem;
    text-align: center;
  }

  #btn-saiba-mais {
    margin-left: 21.25rem;
  }

  #personagem {
    visibility: hidden;
  }

  .titulo2 {
    font-size: 2.1875rem;
    line-height: 2.5rem;
    margin: 0.9375rem 0rem;
  }

  /* GRID */
  #sup-ger,
  #consul-trei {
    flex-direction: column;
  }

  #suporte,
  #gerenciamento,
  #consultoria,
  #treinamento {
    margin: 0.625rem 6.25rem 1.875rem 2.8125rem;
    width: 20.3125rem;
  }

  #suporte p,
  #gerenciamento p,
  #consultoria p,
  #treinamento ´p {
    max-width: 18.75rem;
  }


  /* CHAMADA FREELANCER */
  #freelancer-img,
  #cliente-img {
    visibility: hidden;
  }

  #freelancer-cad {
    margin-left: -12.5rem;
  }

  #freelancer-txt h6 {
    margin-left: -20.3125rem;
    margin-top: -2.5rem;
  }

  #freelancer-txt p {
    margin-left: -20.3125rem;
    max-width: 21.875rem;
  }

  #btn-cadastro-freelancer {
    margin-left: -15.625rem;
  }

  /* CHAMADA CLIENTE */
  #cliente {
    justify-content: center;
  }

  #cliente-txt h6 {
    margin-bottom: 0.2667rem;
    margin-left: 339px;
    margin-top: -2.5rem;
  }

  #cliente p {
    margin-left: 18.75rem;
    text-align: end;
    width: 21.875rem;
  }

  #btn-cadastro-cliente {
    margin-left: 33.125rem;
    position: relative;
    z-index: 9999;
  }


  /* QUADRINHOS */
  #quarto {
    flex-direction: column;
  }

  #cadastre-se,
  #procure,
  #negocio {
    margin: 0.125rem 0;
    padding: none;
    width: 25.875rem;
  }

  #cadastre-se p,
  #procure p,
  #negocio p {
    width: 9.375rem;
  }

  #avaliacoes {
    flex-direction: column;
    justify-content: center;
  }

  #aval-isabela,
  #aval-lucas,
  #aval-camila {
    margin: 0rem 0rem 3.125rem 6.875rem;
    width: 50%;
  }

  #aval-isabela {
    display: none;
  }

  #img-teste {
    width: 100%;
  }

  /* CHAMADA FREELANCER */
  #freelancer-img,
  #cliente-img {
    visibility: hidden;
  }

  @media screen and (max-width: 410px) {
    #logo {
      left: 36%;
      margin-top: -7%;
      position: absolute;
    }

    .chamada,
    .paragrafo {
      margin-left: 240px;
      text-align: center;
    }

    #btn-saiba-mais {
      margin-left: 323px;
    }

    .titulo2 {
      font-size: 2.1875rem;
      line-height: 2.5rem;
      margin-left: -15px;
      margin: 15px 0px;
    }

    #suporte,
    #gerenciamento,
    #consultoria,
    #treinamento {
      margin: 10px 100px 30px 41px;
      width: 310px;
    }

    #cliente-txt h6 {
      margin-bottom: 20px;
      margin-left: 350px;
      margin-top: -2.5rem;
    }

    #aval-isabela,
    #aval-lucas,
    #aval-camila {
      margin: 0px 0px 50px 94px;
      width: 50%;
    }

  }

}

.footer-section {
  background: #142140;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #8c52ff;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #dbdbdb;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #8c52ff;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #8c52ff;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #8c52ff;
    padding: 13px 20px;
    border: 1px solid #8c52ff;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 15px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #8c52ff;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #8c52ff;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.grid{
  display: grid;
  grid-template-columns: 200px 200px;
}

.img-fluid{
  width: 140px;
  margin-left: -215px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vh;
}

.flex-css{
  display: flex;
  justify-content: space-around;
}