@font-face {
    font-family: 'codecproextrabold';
    src: url('../../home/css/f3298108-1a85-4d0b-8de4-2d9e23b64a74.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'codecpro';
    src: url('../../home/css/1c2b3694-9387-4420-8505-ad092fde48c0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'codecpro';
}

body {
    background-color: #000;
}
  
#modal-projeto {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal2 {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 800px;
    height: 500px;
}

.modal-content img {
    width: 200px;
}

#project-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#project-image2 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#project-image.expanded {
    width: 500px;
    object-fit: contain;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#project-image2.expanded {
    width: 500px;
    object-fit: contain;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.conteudo {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.conteudo p {
    text-align: justify;
}

.conteudo button {
    width: 100px;
    height: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay2 {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay3 {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.descricao-modal {
    color: #999;
}

#titulo-projeto {
    border-style: none;
    border: 1px solid #999;
    border-radius: 5px;
}

#descricao-projeto {
    border-style: none;
    border: 1px solid #999;
    border-radius: 5px;
    resize: none;
}

/* ------------------------ */

body {
    background-color: #0a1a44;
}

header {
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

main {
    padding-top: 75px;
    padding-left: 10%;
}

#logo {
    width: 100px;
    margin-left: 200px;
}

header>ul {
    margin-right: 200px;
}

ul {
    display: flex;
    flex-direction: row;
}

ul li:nth-child(2) {
    margin: 0 20px;
}

ul li a {
    color: #999;
}

ul li a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.title {
    margin: 50px 0 10px 10px;
    font-size: 25px;
    font-weight: bold;
}

.alias {
    cursor: pointer;
}

p {
    font-size: 18px;
    color: #ffffff;
}

.quadrado-novo {
    width: 200px;
    height: 150px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    transition: all .3s ease;
    border-style: dashed;
}

.quadrado {
    width: 200px;
    height: 150px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    transition: all .3s ease;
}

.quadrado:hover {
    background-color: #999;
}

.c1 {
    background: #8e44ad;
}




.menu-inferior {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-inferior ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-inferior>ul>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
}

.menu-inferior>ul>div:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.projetos{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.menu-inferior>ul>div>li>a>i,
.menu-inferior>ul>div>p {
    margin: 10px 40px 0 40px;
    color: #d9d9d9;
}
.button {
    --primary: #8c52ff;
    --primary-dark: #653cb8;
    --primary-darkest: #4a2c86;
    --text: #FFFFFF;
    --text-opacity: 1;
    --success: #2B3044;
    --success-scale: .2;
    --success-opacity: 0;
    --border-radius: 7;
    --overflow: hidden;
    --rotate: 0;
    --plane-x: 0;
    --plane-y: 0;
    --plane-opacity: 1;
    --left-wing-background: var(--primary);
    --left-wing-first-x: 0;
    --left-wing-first-y: 0;
    --left-wing-second-x: 50;
    --left-wing-second-y: 0;
    --left-wing-third-x: 0;
    --left-wing-third-y: 100;
    --left-body-background: var(--primary);
    --left-body-first-x: 50;
    --left-body-first-y: 0;
    --left-body-second-x: 50;
    --left-body-second-y: 100;
    --left-body-third-x: 0;
    --left-body-third-y: 100;
    --right-wing-background: var(--primary);
    --right-wing-first-x: 50;
    --right-wing-first-y: 0;
    --right-wing-second-x: 100;
    --right-wing-second-y: 0;
    --right-wing-third-x: 100;
    --right-wing-third-y: 100;
    --right-body-background: var(--primary);
    --right-body-first-x: 50;
    --right-body-first-y: 0;
    --right-body-second-x: 50;
    --right-body-second-y: 100;
    --right-body-third-x: 100;
    --right-body-third-y: 100;
    display: block;
    cursor: pointer;
    position: relative;
    border: 0;
    padding: 8px 0;
    min-width: 100px;
    text-align: center;
    margin: 0;
    line-height: 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    background: none;
    outline: none;
    color: var(--text);
    transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    align-self: center;
  }
  .button .left,
  .button .right {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: var(--plane-opacity);
    transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px)) translateZ(0);
  }
  .button .left:before, .button .left:after,
  .button .right:before,
  .button .right:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(var(--border-radius) * 1px);
    transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
    z-index: var(--z-index, 2);
    background: var(--background, var(--left-wing-background));
    -webkit-clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
            clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
  }
  .button .left:after {
    --x: 0;
    --z-index: 1;
    --background: var(--left-body-background);
    --first-x: var(--left-body-first-x);
    --first-y: var(--left-body-first-y);
    --second-x: var(--left-body-second-x);
    --second-y: var(--left-body-second-y);
    --third-x: var(--left-body-third-x);
    --third-y: var(--left-body-third-y);
  }
  .button .right:before {
    --x: -.4%;
    --z-index: 2;
    --background: var(--right-wing-background);
    --first-x: var(--right-wing-first-x);
    --first-y: var(--right-wing-first-y);
    --second-x: var(--right-wing-second-x);
    --second-y: var(--right-wing-second-y);
    --third-x: var(--right-wing-third-x);
    --third-y: var(--right-wing-third-y);
  }
  .button .right:after {
    --x: 0;
    --z-index: 1;
    --background: var(--right-body-background);
    --first-x: var(--right-body-first-x);
    --first-y: var(--right-body-first-y);
    --second-x: var(--right-body-second-x);
    --second-y: var(--right-body-second-y);
    --third-x: var(--right-body-third-x);
    --third-y: var(--right-body-third-y);
  }
  .button span {
    display: block;
    position: relative;
    z-index: 4;
    opacity: var(--text-opacity);
  }
  .button span.success {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale)) translateZ(0);
    opacity: var(--success-opacity);
    color: var(--success);
  }


.botao-escolher-arquivo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
@font-face {
    font-family: 'codecproextrabold';
    src: url('../../home/css/f3298108-1a85-4d0b-8de4-2d9e23b64a74.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'codecpro';
    src: url('../../home/css/1c2b3694-9387-4420-8505-ad092fde48c0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'codecpro';
}

body {
    background-color: #000;
}
  
#modal-projeto {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal2 {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal3 {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal4 {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal5 {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 800px;
    height: 500px;
}

.modal-content img {
    width: 200px;
}

#project-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#project-image2 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#project-image3 {
    width: 200px;
    height: 275px;
    cursor: pointer;
}

#project-image4 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#project-image5 {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#project-image.expanded {
    width: 500px;
    object-fit: contain;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#project-image2.expanded {
    width: 500px;
    object-fit: contain;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#project-image3.expanded {
    width: 500px;
    object-fit: contain;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#project-image4.expanded {
    width: 500px;
    object-fit: contain;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#project-image5.expanded {
    width: 500px;
    object-fit: contain;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.conteudo {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.conteudo p {
    text-align: justify;
}

.conteudo button {
    width: 100px;
    height: 25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay2 {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay3 {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay4 {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay5 {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#overlay6 {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.descricao-modal {
    color: #999;
}

#titulo-projeto {
    border-style: none;
    border: 1px solid #999;
    border-radius: 5px;
}

#descricao-projeto {
    border-style: none;
    border: 1px solid #999;
    border-radius: 5px;
    resize: none;
}

/* ------------------------ */

body {
    background-color: #0a1a44;
}

header {
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

main {
    padding-top: 75px;
    padding-left: 10%;
}

#logo {
    width: 100px;
    margin-left: 200px;
}

header>ul {
    margin-right: 200px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

ul li a {
    color: #999;
}

ul li a:hover {
    color: rgba(0, 0, 0, 0.7);
}
#seja-pro {
    color: #ffff;
    background-color: #8c52ff;
    padding: 8px;
    border-radius: 15px;
    font-family: 'codecpro';
    cursor: pointer;
    text-decoration: none;
  }
  
  #seja-pro:hover {
    background-color: #0a1a44;
    color: white;
    transition: 0.4s;
  }
  
  #seja-pro:active {
    transform: scale(0.97);
  }
.title {
    margin: 50px 0 10px 10px;
    font-size: 25px;
    font-weight: bold;
}

.alias {
    cursor: pointer;
}

p {
    font-size: 18px;
    color: #ffffff;
}

.quadrado-novo {
    width: 200px;
    height: 150px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    transition: all .3s ease;
    border-style: dashed;
}

.quadrado {
    width: 200px;
    height: 150px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    transition: all .3s ease;
}

.quadrado:hover {
    background-color: #999;
}

.c1 {
    background: #8e44ad;
}




.menu-inferior {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-inferior ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-inferior>ul>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
}

.menu-inferior>ul>div:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.menu-inferior>ul>div>li>a>i,
.menu-inferior>ul>div>p {
    margin: 10px 40px 0 40px;
    color: #d9d9d9;
}
/* Estilos para a aba de notificação */
.notification-tab {
    position: fixed;
    bottom: 497px; /* Altura desejada em relação ao fundo da janela */
    left: 80%;
    transform: translateX(-50%);
    background-color: #8e44ad;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 999;
    max-width: 300px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation-name: slide-down;
    animation-duration: 0.5s;
}

#closeNotificationButton{
    color: #000;
}

.centro{
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #000;

}

/* Dropdown Button */
.dropbtn {
    color: #999;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover {
    color: rgba(0, 0, 0, 0.7);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 352px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 1px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  @media screen and (max-width: 480px) {
	header {
	  position: relative;
	  width: 100%;
	}
  
	.primeiro {
	  margin: 0 auto;
	  text-align: center;
	  width: 30%;
	}
  
	#freelancer-login,
	#cliente-login {
	  visibility: hidden;
	}
  
	#logo {
	  left: 40%;
	  margin-top: -7%;
	  position: absolute;
	}
}


/* Estilo para o botão de finalização */
.botao-finalizacao {
    background-color: #2ECC71; /* Vermelho */
    color: #fff; /* Cor do texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
  }
  
  /* Estilo para o ícone */
  i.fas.fa-trash {
    margin-right: 5px;
  }
  
  .swal-button--confirm {
    background-color: #2ecc71; /* Cor de fundo para botões de confirmação */
  }
  .swal-button--confirm:hover {
    background-color: #2ecc71; /* Cor de fundo para botões de confirmação */
    
  }

  /* .confirm-button:hover{
    background-color: #2ecc71;
  } */

  .custom-confirm-button{
    background-color: #2ecc71
  }